<div class="text-center">
  <div class="form-group row align-items-center justify-content-center  w-30 p-4">
   <div class="card rounded row m-4">
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-xs-3">
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
</div>

  

 <div class="col-xs-3">
  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, accept: 'image/png, image/jpg, image/jpeg', class: 'form-control-file' %>
  </div>
  </div>
   <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
  </div>
</div>
