<h1 class='dflex justify-content-center '>Posts</h1>
<h4 class="d-flex justify-content-center mb-4">
<%= link_to 'New Post', new_post_path, class: 'btn btn-primary'%>
<%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary ml-2') %> 
</h4>

<div class="posts-container">
  <% @posts.each do |post| %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title text-dark mb-1"> <%= post.title %> </h5>
            <%= image_tag post.image, class: "card-img-top" if post.image.attached? %>
            <div class="links-container">
              <%= link_to "Show", post_path(post.id), class: "post-link" %>
              <% if current_user.posts.include?(post) %>
                <%= link_to "Delete", post_path(post.id), class: "post-link", method: :delete %>
                <%= link_to "Edit", edit_post_path(post), class: "post-link"%>
              <% end %>
            </div>
        </div>
    </div>
  <% end %>
</div>
